<%+header%>
<script type="text/javascript" src="<%=media%>/apps.js"></script>
<link rel="stylesheet" type="text/css" href="<%=media%>/apps.css" />
<% include("themes/" .. theme .. "/apps_banner") %>
<div class="types">
<%-
	 for typed, types in pairs(categories) do
     catType = typed
-%>
<div class="type" id="<%=catType%>">
  <% include("themes/" .. theme .. "/apps_categories") %>  
  <div class="apps" id="<%=catType%>Apps">
	<%-
	   for i, app in pairs(types) do
	       if app.name then
	           name = app.name
   	           nick = app.nick
   	           ipaddr = app.ipaddr
               icon = app.icon
   	           description = app.description
	           uuid = app.uuid
	           port = app.port
	           fingerprint = app.fingerprint
	   -%>
	<div class="app" id="<%=uuid%>">
	<% include("themes/" .. theme .. "/apps_apps") %>
	<%end%>
	</div>
<%end%>
</div>
<%end%>
</div>
</div>
<%+footer%>
